doctype html
html
    head
        title= "Football Pong Scoreboard"
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.min.js')
        script(src='/script.js')
        link(href='/style.css' rel="stylesheet" type="text/css")
    body
        #container
            .first-row
                #away-score.box
                    div
                        div
                            h4.label= "Away"
                            .number
                                span#away-team-score.score= "0"
                        .controls
                            #away-team-update-score-up.up-arrow
                            #away-team-update-score-down.down-arrow

            
                #home-score.box
                    div
                        div
                            h4.label= "Home"
                            .number
                                span#home-team-score.score= "0"
                        .controls
                            #home-team-update-score-up.up-arrow
                            #home-team-update-score-down.down-arrow

            .second-row
                #away-score
                  h4= "Away Team Points"
                  button#away-field-goal= "FG"
                  button#away-touchdown= "TD"
                  button#away-pat= "PAT"
                  button#away-reset.reset= "reset"

                #home-score
                  h4= "Home Team Points"

                  button#home-field-goal= "FG"
                  button#home-touchdown= "TD"
                  button#home-pat= "PAT"
                  button#home-reset.reset= "reset"